/** @format */
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 900

.red-hat-display-<uniquifier> {

  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

* {
	padding: 0;
	margin: 0;
	/* box-sizing: border-box; */
	list-style: none;
	font-family: "Red Hat Display", sans-serif;
}

.attribution {
	font-size: 11px;
	text-align: center;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

:root {
	--Pale-blue: hsl(225, 100%, 94%);
	--Bright-blue: hsl(245, 75%, 52%);
	--Very-pale-blue: hsl(225, 100%, 98%);
	--Desaturated-blue: hsl(224, 23%, 55%);
	--Dark-blue: hsl(223, 47%, 23%);
}
body {
	background-color: var(--Pale-blue);
	/* font-family: "system-ui"; */
	/* min-height: 100vh; */
}
.image_bg {
	background: url("/images/pattern-background-desktop.svg") no-repeat
		center/cover;
	height: 400px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: -1;
}
.card-container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.card {
	width: 400px;
	background-color: white;
	border-radius: 20px;
	box-shadow: 10px 10px 10px 5px hsl(224, 23%, 55%, 0.1);
}
.card_image_top {
	background-image: url(images/illustration-hero.svg);
	height: 220px;
	background-size: cover;
	border-top-left-radius: 18px;
	border-top-right-radius: 18px;
}

.card-body {
	/* margin: 20px; */
	margin: 15px 40px;
	text-align: center;
	/* border: 1px solid black; */
}

.card-body-header p {
	margin: 5px;
	color: var(--Desaturated-blue);
	font-weight: 500;
	font-size: 16px;
	/* border: 1px solid black; */
}

.outer-div {
	display: flex;
	justify-content: center;
	justify-content: space-between;
	align-items: center;
	/* border: 1px solid black; */
	background-color: var(--Very-pale-blue);
	border-radius: 10px;
	padding: 15px;
}

.card-section {
	/* border: 1px solid black; */
	display: flex;
	align-items: center;
	/* padding-right: 0px 30px; */
	/* margin: 20px */
}

.change {
	font-weight: 500;
	font-family: "Red Hat Display", sans-serif;
	color: var(--Bright-blue);
	cursor: pointer;
	font-size: 16px;
}

.h5-p-tag {
	padding: 0px 10px;
	margin-left: 10px;
}

.card-section .h5-p-tag p {
	font-weight: 500px;
}

.card-footer {
	display: flex;
	justify-content: center;
	padding: 20px;
	flex-direction: column;
}

.card-footer a {
	text-align: center;
	text-decoration: none;
	padding-top: 10px;
	color: hsl(224, 23%, 55%);
	font-weight: 700;
}

.card-footer button {
	cursor: pointer;
	padding: 12px 0px;
	border: none;
	outline: none;
	background-color: var(--Bright-blue);
	color: var(--Very-pale-blue);
	width: 100%;
	border-radius: 10px;
	font-weight: 700;
}
